blinker==1.4
click==6.7
fake-factory==9999.9.9
Faker==0.8.13
Flask==1.0.2
Flask-Caching==1.4.0
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-dateutil==2.7.3
six==1.11.0
SQLAlchemy==1.2.7
text-unidecode==1.2
Werkzeug==0.14.1
