footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}


body {
    background: #333 url("/static/images/veggies4.jpg");
    background-size: cover;
    font-family: helvetica;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
    }
    
.modal-footer {
  background-color: #f9f9f9;
}

.content {
    position: fixed;
    top: 0;
    color: #ffffff;
    width: 100%;
}

h2 {
  color: green;
}


